*{
    padding: 0;
    margin: 0;
}
html, body{
    width: 100%;
    height: 100%;
    overflow-x:hidden;

}
.header{
    width: 100%;
    height: 10%;
    background-color: yellow;
    display: flex;
}
.header .bentrai{
    width: 45%;
    height: 100%;
    display: flex;

}
.header .bentrai a{
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    margin: 20px;
    color:rgb(30, 30, 120);
}
.header .bentrai a:hover{
    color: black;
    cursor: pointer;
}
.header .ogiua{
    width: 40%;
    height: 100%;
    /* background-color: blue; */
    padding: 0 10%;
    
}
.header .ogiua input{
    width: 120%;
    height: 50%;
    border-radius: 10px;
    margin-top: 12px;
    position: relative;
    margin-left: -40px;
}
.header .ogiua i{
    position: absolute;
    transform: translateX(360px) translateY(-25px);
}
.header .benphai{
    width: 30%;
    height: 100%;
}
.header .benphai i{
    font-size: 35px;
    padding: 10px 25px;
    color:rgb(30, 30, 120);
}
.header .benphai i:hover{
    cursor: pointer;
    color: black;
}

.select{
    width: 100%;
    height: 13%;
    background-color: #666161;
    display: flex;
}
.select a{
    font-size: 25px;
    padding: 25px 0px;
    text-align: center;
    color: white;
    text-decoration: none;
    margin-left: 75px;
    font-family: Arial, Helvetica, sans-serif;
}
.select a:hover{
    color: black;
    cursor: pointer;
}*{
    padding: 0;
    margin: 0;
}
html, body{
    width: 100%;
    height: 100%;
    background: rgb(236, 231, 231);
}
.header{
    width: 100%;
    height: 10%;
    background-color: yellow;
    display: flex;
}
.header .bentrai{
    width: 45%;
    height: 100%;
    display: flex;

}
.header .bentrai a{
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    margin: 20px;
    color:rgb(30, 30, 120);
}
.header .bentrai a:hover{
    color: black;
    cursor: pointer;
}
.header .ogiua{
    width: 40%;
    height: 100%;
    /* background-color: blue; */
    padding: 0 10%;
    
}
.header .ogiua input{
    width: 120%;
    height: 50%;
    border-radius: 10px;
    margin-top: 12px;
    position: relative;
    margin-left: -40px;
}
.header .ogiua i{
    position: absolute;
    transform: translateX(360px) translateY(-25px);
}
.header .benphai{
    width: 30%;
    height: 100%;
}
.header .benphai i{
    font-size: 35px;
    padding: 10px 25px;
    color:rgb(30, 30, 120);
}
.header .benphai i:hover{
    cursor: pointer;
    color: black;
}

.select{
    width: 100%;
    height: 13%;
    background-color: #666161;
    display: flex;
}
.select a{
    font-size: 25px;
    padding: 25px 0px;
    text-align: center;
    color: white;
    text-decoration: none;
    margin-left: 75px;
    font-family: Arial, Helvetica, sans-serif;
}
.select a:hover{
    color: black;
    cursor: pointer;
}
.blank1{
    width: 10%;
    height: 70%;
    float: left;
}
.section{
    width: 80%;
    height: auto;
    float: left;
    margin-top: 30px;
}
    .section .container-1{
        width: 20%;
        height: auto;
        margin: 10px 0;
    }
        .section .container-1 h4{
            background: black;
            color: white;
            padding: 10px 0;
            text-align: center;
            border-radius: 8px;
            font-size: 18px;
        }
    
    .section .container-2{
        width: 100%;
        height: auto;               
        background: white;
    }
        .container-2 .box1{
            width: 100%;
            height: auto;
            display: flex;
            }
            .box1 .img-button{
                width: 20%;
                height: auto;
                float: left;
                margin-bottom: -50px;
            }
                .img-button a{
                text-decoration: none;
                color: black;   
                }
                .box1 img{
                    width: 60%;
                    height: 60%;
                    margin-top: 20px;
                    margin-left: 70px;
                    transition: 0.5s;/*chuyển động chậm*/
                }

                .box1 img:hover{
                     transform: scale(1.2); /*Phóng to*/
                }
            .box1 .con2-p1{
                /* display: inline-block; */
                font-size: 20px;
                font-weight: bold;
                margin-left: -30px;
            }

            .box1 .con2-p2{
                margin-left: 70px;
                margin-top: 30px;
                font-size: 20px;
            }
            .box1 .quantity{
                display: flex;
                padding: 0 20px;
            
                margin-left: 70px;
                margin-right: 60px;
            }
                .box1 p{
                    margin-top: 30px;
                    padding: 0 40px;
                    font-size: 20px;

                }
                .box1 .quantity a{
                    font-size: 20px;
                    margin-top: 30px;
                }
                    .box1 .quantity .tru{
                        margin-left: -15px;
                    }
                    .box1 .quantity .cong{
                        margin-right: -15px;
                    }

                    .box1 .quantity i:hover{
                        color: red;
                    }
    
    .section .container-3{
        width: 100%;
        height: 150px;
        background: white;
        margin-top: 50px;
    }
        .container-3 .column1{
            width: 30%;
            height: auto;
            float: left;
            margin-left: 65px;
            margin-top: 20px;
        }   
            .column1 h2{
                margin-bottom: 10px;
            }
            .column1 .tienmat{
                width: 100%;
                height: auto;
                margin-bottom: 10px;   
            }
                .tienmat input:hover{
                    cursor: pointer;
                }
                .tienmat .icon1{
                    margin-left: 10px;
                    color: rgb(16, 177, 16);
                }
            .column1 .banking{
                width: 100%;
                height: auto;
                margin-bottom: 10px;
            }
                .banking input{
                    cursor: pointer;/*re vào xuất hiện hình bàn tay*/

                }
                .banking .icon2{
                    color: black;
                    margin-left: 10px;
                    color: rgb(68, 68, 173);
                }
                .banking .icon2:hover{
                    color: red;
                }
        .container-3 .column2{
            width: 40%;
            height: auto;
            float: left;    
            margin-top: 20px;    
        }  
            .column2 i{
                font-size: 45px;
                margin-right: 5px;
                color: rgb(192, 39, 64);
            }      
            .column2 p{
                display: inline-block;
                text-align: center;
                font-size: 20px;
                margin-top: -20px;
               
            }
                p b{
                     color: rgb(192, 39, 64);
                }
            .column2 .in-btn{
                width: 100%;
                height: auto;
                margin-top: 25px;
            }
                .in-btn input{
                    font-size: 20px;
                    padding: 10px 0 10px 15px;
                }
                .in-btn button{
                    font-size: 20px;
                    padding: 10px 20px;
                    background-color: rgb(96, 169, 238);
                    border-radius: 8px;
                    margin-left: 10px;
                    color: white;
                    border: 1px solid white;
                }

                .in-btn button:hover{
                    background-color: rgb(175, 72, 72);
                    color: black;
                    cursor: pointer;
                }
        .container-3 .column3{
            width: 25%;
            height: auto;
            float: right;
            margin-top: 20px;
        }
            .column3 h2{
                display: inline-block;
                margin-left: 50px;
            }
            .column3 h3{
                display: inline;
                margin-left: 67px;
                color: red;
                font-size: 20px;
            }
            .column3 button{
                font-size: 30px;
                margin-left: 110px;
                margin-top: 33px;
                padding: 10px 20px;
                border-radius: 8px;
                background-color: black;
                color: white;
            }
            .column3 button:hover{
                cursor: pointer;
                background-color: red;
            }
    .section .container-4{
        width: 25%;
        height: auto;
        float: right;
        text-align: right;
    }
        .container-4 .icon-back {
            width: 100%;
            height: auto;
            margin-top: 10px;
        }
            .icon-back a{
                text-decoration: none;
                color: black;
                
            }
            .icon-back a:hover{
                color: red;
            }
    
.duoi{
    width: 98%;
    height: auto;
    background-color: yellow;
    float: left;
    margin-top: 50px;
}
 .duoi .adderss1{
    width: 100%;
    height: 50%;
    display: flex;
    margin-left: 160px;
}
    .adderss1 .left{
        margin-right: 80px;
    }
 .duoi .adderss1 .left p{
    font-size: 20px;
    padding: 8px 25px;
}
 .duoi .adderss1 .left p:hover{
    color: blue;
    cursor: pointer;
}

 .duoi .adderss1 .right p{
    font-size: 20px;
    padding: 8px 25px;
    text-align: center;
}
 .duoi .adderss1 .right img{
    width:  10%;
}

 .duoi .adderss2{
    width: 100%;
    height: 20%;
    background-color: #666161;
}
 .duoi .adderss2 p{
    text-align: center;
    color: white;
    font-weight: bold;
    transform: translateY(10px);
}.duoi{
    width: 100%;
    height: 220px;
    background-color: yellow;
}
 .duoi .adderss1{
    width: 100%;
    height: 80%;
    display: flex;
}
 .duoi .adderss1 .left p{
    font-size: 20px;
    padding: 8px 25px;
}
 .duoi .adderss1 .left p:hover{
    color: blue;
    cursor: pointer;
}

 .duoi .adderss1 .right p{
    font-size: 20px;
    padding: 8px 25px;
    text-align: center;
}
 .duoi .adderss1 .right img{
    width:  10%;
}

 .duoi .adderss2{
    width: 100%;
    height: 20%;
    background-color: #666161;
}
 .duoi .adderss2 p{
    text-align: center;
    color: white;
    font-weight: bold;
    transform: translateY(10px);
}